const SecretPage = props => {
  // Instead of checking props.user and friend of josh here,
  // the HoC will take care of that

  render() {
    ...
  }
}

export default requiresAuth({ userRoleRequired: "friendOfJosh" })(SecretPage)
