const requiresAuth = ({ userRoleRequired }) => WrappedComponent => {
  return class AuthenticatedComponent extends Component {

    ...

    authenticateUserOrRedirect (props) {
      if (!this.props.user) {
        this.redirectToLogin()
      }
    }

    userPermitted () {
      return isNil(userRoleRequired) || userRoleRequired === this.props.user.role
    }

    render () {
      if (this.props.user) {
        return this.userPermitted()
          ? <WrappedComponent {...this.props} />
          : null
        }
      return null
    }
  }
}
