const enhance = (WrappedComponent) => {
  return class EnhancedComponent extends Component {
    // some code that adds some functionality
    // goes here

    render () {
      return <WrappedComponent {...this.props} {...this.state} />
    }
  }
}

export default enhance
