const enhance = (WrappedComponent) => {
  const EnhancedComponent = props => {
    // some code that adds some functionality
    // (probably some props) goes here
    return <WrappedComponent {...props} {...newProps} />
  }

  return EnhancedComponent
}

export default enhance
